body {
    color: black;
    font-size: 16px;
    margin: 0px 5% 0px 5%;
}

code {
  background-color: #eee;
  font-size: 12px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 16px 0px 18px 0px;
}

div#logo {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
		margin-top: -6px;
}

div#logo img {
	vertical-align: middle
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    border-left: 1px black solid;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

span.subtext {
		font-size: 12px;
		margin-left: 1em;
		border-bottom: 1px dashed;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

span.taglinks {
    font-size: 60%;
}

span.taglinks a {
    color: #000;
}
